:root{
    --body-bcgr: #0c1014;
    --pg-bcgr: #1f1f22;
    --lgh-pg-bcgr: #3e3e41;
    --txt-clr: #ffffff;
    --drk-gray: #808080;
    --gray: #c0bfbf;
    --blue: #1a74e3;
    --lgh-blue: #2d83ed;
    --drk-blue: #133b6e;
}
:any-link{
    text-decoration: none;
    color: inherit;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--body-bcgr);
    color: var(--txt-clr);
    width: 100%;
    min-height: 100vh;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
body:has(header+main+footer){
    grid-template-rows: auto 1fr auto;
}
main{
    display: grid;
    justify-content: center;
}
main>div{
    background-color: var(--pg-bcgr);
    box-sizing: border-box;
    padding-inline: 3%;
    padding-block: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 22px;
    }
}
body main:has(section){
    grid-template-columns: 60% 40%;
    div{
        align-items: normal;
        border-left: 1px solid var(--drk-gray);
    }
}
body:has(section) footer{
    background-color: var(--body-bcgr);
    border-top: 1px solid var(--drk-gray);
}
footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--pg-bcgr);
}
section{
    min-width: 500px;
    padding: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    header{
        padding-bottom: 5%;
        display: flex;
        h1{
            padding-inline: 5%;
            padding-top: 7%;
            margin: 0;
            font-size: 45px;
            text-align: center;
        }
        img{
            width: 90px;
            height: 90px;
        }
    }
    img{
        height: 350px;
        width: 450px;
    }
}  
#error-message{
        margin-bottom: 30px;
        height: 40px;
        border: 1px solid var(--drk-gray);
        border-radius: 16px;
        width: auto;
        display: flex;
        align-items: center;
        img{
            margin-left: 20px;
            margin-right: 5px;
            width: 17px;
            height: 17px;
        }
    }
main div form{
    #registr-button, input{
        border-radius: 16px;
    }
    #registr-button{
        width: auto;
        display: flex;
        align-items: center;
    }
    input{
        border: 1px solid var(--drk-gray);
        height: 60px;
        background-color: var(--pg-bcgr);
        margin-top: 12px;
        box-sizing: border-box;
        color: var(--txt-clr);
        caret-color: var(--txt-clr);
        padding: 10px;
    }
    input[type="submit"]{
        margin: 22px 0 10px;
        background-color: var(--blue);
        height: 40px;
    }
    input[type="submit"]:hover{
        background-color: var(--lgh-blue);
    }
    /*rename*/
    #registr-button{
        height: 40px;
        margin-top: 100px;
        border: 1px solid var(--blue);
        color: var(--blue);
        justify-content: center;
    }
    #registr-button:hover{
        background-color: var(--lgh-pg-bcgr);
    }
}
main:has(#registration-page){
    justify-content: stretch;
}
#registration-page form{
    min-width: 634px;
    input{
        margin-top: 4px;
        margin-bottom: 15px;
    }
    input[type="submit"]{
        margin-bottom: 0;
    }
    input[type="date"]{
        color: var(--txt-clr);
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}
#button{
    display: inline-block;
    margin: 10px 0;
    img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}
#button:hover img{
    background-color: var(--gray);
} 
main div #button:active{
    background-color: var(--drk-gray);
} 
main div form{
    max-width: 634px;
    display: flex;
    flex-direction: column;
}
#feed-header>div, #feed-header>a{
    display: flex;
    align-items: center;
}
#feed-header{
    background-color: var(--pg-bcgr);
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0 37px 0;
    img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    #right{
        font-size: 18px;
        img{
            border-radius: 50%;
        }
        a{
            padding: 0 12px;
            color: var(--txt-color);
            border: 1px solid var(--drk-gray);
            border-radius: 8px;
        }
        #add-button{
            padding: 0;
            border: none;
            font-size: 41px;
            margin-inline: 15px;
        }
        a:hover{
            background-color: var(--drk-gray);
        }
    } 
}
main>#feed-div{
    width: 468px;
    min-height: 645px;    /* ToDo: check */
    background-color: var(--body-bcgr);
    padding: 50px 0 0 0;
}
article{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    #head{
        height: fit-content;
        padding: 0 14px 12px;
        display: flex;
        align-items: center;
        span{
            margin-left: 10px;
        }
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        time{
            color: var(--gray);
            line-height: 18px;
        }
    }
    #bottom{
        margin-block: 10px 35px;
        padding-inline: 14px;
        span{
            display: flex;
            width: fit-content;
            align-items: center;
            font-size: 19px;        
        }
        p{
            margin: 10px 0 0 0;
        }
    }
}
article>img{
    object-fit: cover;
    width: 100%;
}
#like{
    img{
        height: 24px;
    }
    img:active{
        transform: scale(0.90);       
    }
    color: var(--txt-clr);
    display: flex;
    align-items: center;
}
nav{
    width: stretch;
    display: flex;
    justify-content: center;
    height: 55px;    /* ToDo: fix nav height*/
    overflow: hidden;
    align-items: center;
    padding: 2px;
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        b{
            color: var(--drk-gray);
        }
        a, b{
            padding: 13px 18px;
            margin-inline: 3px;
        }
        a{
            color: var(--txt-clr);
            border: 1px solid var(--drk-gray);
            border-radius: 50%;
            box-sizing: border-box;
        }
        a:hover{
            background-color: var(--drk-gray);
        }
    }
} 
main:has(#creation-header){
    grid-template-rows: auto 1fr;
    justify-content: stretch;
    text-align: center;
}
#creation-header{
    height: 80px;
}
#adding-logo{
    text-align: center;
    img{
        width: 95px;
    }
}
.btn{
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--lgh-blue);
}
.btn:hover{
    background-color: var(--blue);
}
.btn:active{
    transform: scale(0.98);
}
#create-post{
    /*display: flex;*/
    padding: 0;
    justify-content: center;
    form{
        align-items: center;
        input[type="file"]{
            display: none;
        }
        img{
            width: stretch;
            /*margin-block: 30px;*/
            max-height: 600px;
        }
    }
    label[for="image"]{
        padding: 7px 30px;
    }
    input[type="submit"]{
        display: none; 
        height: 32px; 
        padding: 0 25px;
        background-color: var(--lgh-blue);
    }
    input[type="text"]{
        width: stretch;
    }
    form:has(input[type="file"]:valid), form:has(img) {
        input[type="submit"]{
            display: block;  
        }
    }
}