:root{
    --body-bcgr: #0c1014;
    --pg-bcgr: #1f1f22;
    --lgh-pg-bcgr: #3e3e41;
    --txt-clr: #ffffff;
    --drk-gray: #808080;
    --gray: #c0bfbf;
    --blue: #1a74e3;
    --lgh-blue: #2d83ed;
    --drk-blue: #133b6e;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--body-bcgr);
    color: var(--txt-clr);
    width: 100%;
    height: fit-content;
}
main{
    height: 92%;
    display: grid;
}
main>div{
    background-color: var(--pg-bcgr);
    box-sizing: border-box;
    padding-inline: 3%;
    padding-block: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 22px;
    }
}
body main:has(section){
    grid-template-columns: 60% 40%;
    div{
        align-items: normal;
        border-left: 1px solid var(--drk-gray);
    }
}
body:has(section) footer{
    background-color: var(--body-bcgr);
    border-top: 1px solid var(--drk-gray);
}
footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--pg-bcgr);
}
section{
    min-width: 500px;
    padding: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    header{
        padding-bottom: 5%;
        display: flex;
        h1{
            padding-inline: 5%;
            padding-top: 7%;
            margin: 0;
            font-size: 45px;
            text-align: center;
        }
        img{
            width: 90px;
            height: 90px;
        }
    }
    img{
        height: 350px;
        width: 450px;
    }
}  
main div form{
    span{
        margin-bottom: 30px;
        img{
            margin-left: 20px;
            margin-right: 5px;
            width: 17px;
            height: 17px;
        }
    }
    span, #registr-button, input{
        border-radius: 16px;
    }
    span, #registr-button{
        width: auto;
        display: flex;
        align-items: center;
    }
    span, input{
        height: 40px;
        border: 1px solid var(--drk-gray);
    }
    input{
        height: 60px;
        background-color: var(--pg-bcgr);
        margin-top: 12px;
        box-sizing: border-box;
        color: var(--txt-clr);
        caret-color: var(--txt-clr);
        padding: 10px;
    }
    input[type="submit"]{
        margin-top: 22px;
        background-color: var(--blue);
        height: 40px;
    }
    input[type="submit"]:hover{
        background-color: var(--lgh-blue);
    }
    /*rename*/
    #registr-button{
        height: 40px;
        margin-top: 100px;
        border: 1px solid var(--blue);
        color: var(--blue);
        text-decoration: none;
        justify-content: center;
    }
    #registr-button:hover{
        background-color: var(--lgh-pg-bcgr);
    }
}
#registration-page form{
    min-width: 634px;
    input{
        margin-top: 4px;
        margin-bottom: 15px;
    }
    input[type="submit"]{
        margin-bottom: 0;
    }
    input[type="date"]{
        color: var(--txt-clr);
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}
main div #button{
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    margin: 0 0 10px 0;
    img{
        width: 24px;
        height: 24px;
    }
}
main div #button:hover{
    background-color: var(--gray);
} 
main div #button:active{
    background-color: var(--drk-gray);
} 
main div form{
    max-width: 634px;
    display: flex;
    flex-direction: column;
}
#feed-header{
    background-color: var(--pg-bcgr);
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0 37px 0;
    div{
        display: flex;
        align-items: center;
    }
    img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    #right{
        font-size: 18px;
        img{
            border-radius: 50%;
        }
        a{
            margin-left: 30px;
            padding: 0 12px;
            color: var(--txt-color);
            text-decoration: none;
            border: 1px solid var(--drk-gray);
            border-radius: 8px;
        }
    } 
}
main>#feed-div{
    background-color: var(--body-bcgr);
}
article{
    width: 468px; 
    display: flex;
    flex-direction: column;
    img{
    }
    #head{
        height: fit-content;
        padding: 0 14px 12px;
        display: flex;
        align-items: center;
        span{
            margin-left: 10px;
        }
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        time{
            color: var(--gray);
        }
    }
    #bottom{
        margin-block: 10px 35px;
        padding-inline: 14px;
        span{
            display: flex;
            width: fit-content;
            align-items: center;
            font-size: 19px;
        }
        p{
            margin: 10px 0 0 0;
        }
    }
}
article>img{
    object-fit: cover;
    width: 100%;
    margin-right: 5px;
}
#like{
    height: 24px;
}